main > .container {
    padding: 80px 15px 0;
}

.rating-stars {
    letter-spacing: -2px;
}

.eve-auth-user-icon {
    border-radius: 50%;
}

.app-icon {
    height: 72px;
    width: 72px;
}

.app-icon-small {
    height: 36px;
    width: 36px;
}

.app-item {
    height: 47px;
}

.nowrap {
    white-space: nowrap;
}

.sidemenu-section {
    margin-bottom: 1rem;
}
