<h3>App Dependencies</h3>
{% if object.has_requirements %}
    <br>
    <h5>Required apps:</h5>
    <ul>
        {% for app in requires_apps %}
            <li><a href="{% url 'app-detail' app.pypi_name %}">{{ app.name }}</a></li>
        {% empty %}
            <p class="text-muted">-</p>
        {% endfor %}
    </ul>
    <br>
    <h5>Used by apps:</h5>
    <ul>
        {% for app in used_by_apps %}
            <li><a href="{% url 'app-detail' app.pypi_name %}">{{ app.name }}</a></li>
        {% empty %}
            <p class="text-muted">-</p>
        {% endfor %}
    </ul>

{% else %}
    <p class="text-muted">No information about requirements</p>
{% endif %}
<p class="text-muted">Dependencies to other apps registered in this app directory.</p>
