{% load humanize %}
{% load catalog %}
{% load eve_auth %}


{% for review in reviews %}
    {% include "catalog/partials/review.html" %}
    {% if user.is_authenticated and user == review.author %}
        <a id="btnDeleteReview_{{ review.pk }}" class="btn btn-outline-danger" href="{% url 'review-delete' review.pk %}" role="button">Delete</a>
        <br>
    {% endif%}
    {% if review.reply %}
        <div style="margin-left:3%">
            {% include "catalog/partials/review_reply.html" %}
            {% if user.is_authenticated and user in object.maintainers.all %}
                <a id="btnDeleteReply_{{ review.pk }}" class="btn btn-outline-danger" href="{% url 'review-reply-delete' review.reply.pk %}" role="button">Delete</a>
                <br>
            {% endif%}
        </div>
    {% elif user.is_authenticated and user in object.maintainers.all %}
        <a id="btnCreateReply_{{ review.pk }}" class="btn btn-outline-primary" href="{% url 'review-reply-create' review.pk %}" role="button">Reply</a>
        <br>
    {% endif%}
    <br>
{% empty %}
    <p class="text-muted">No reviews yet...</p>
{% endfor %}
