{% load catalog %}

<div class="list-group">
    <a href="{% url 'app-detail' app.pypi_name %}" class="list-group-item list-group-item-action">
        <div class="row align-items-center app-item">
            <div class="col-9">
                <img class="rounded app-icon-small" src="{{ app.valid_icon_url }}">
                &nbsp;&nbsp;<strong>{{ app.name }}</strong>
                {% if not app.is_verified %}
                    <i class="fas fa-exclamation-triangle text-warning" title="App ownership not yet verified"></i>
                {% endif %}
                &nbsp;&nbsp;&nbsp;&nbsp;
                <span title="{{ app.summary }}">{{ app.summary|truncatechars:70 }}</span>
            </div>
            <div class="col-3 text-end">
                <span class="nowrap">{% rating_stars app.rating_avg %}</span>
                &nbsp;&nbsp;
                <i class="fas fa-chevron-right"></i>
            </div>
        </div>
    </a>
</div>
