{% load catalog %}
{% load static %}

<ul class="ul-apps">
    {% if show_all %}
        {% for app in page_obj.paginator.object_list %}
            {% include "catalog/partials/app_list_item.html" %}
        {% endfor %}
    {% else %}
        {% for app in page_obj %}
            {% include "catalog/partials/app_list_item.html" %}
        {% endfor %}
    {% endif %}
</ul>

<div class="row">
    <div class="col">
        <p class="text-muted">Total entries: {{ page_obj.paginator.count }}
        {% if not show_all and page_obj.has_next %}
            | <a href="{{ show_all_url }}">Show all</a>
        {% endif %}
        </p>
    </div>

    {% if not show_all %}
        <div class="col">
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-end">
                    {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="{% paging_url page_obj.previous_page_number %}" aria-label="Previous">
                                <span aria-hidden="true"><i class="fas fa-angle-double-left"></i></span>
                            </a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <a class="page-link" href="#" aria-label="Previous">
                                <span aria-hidden="true"><i class="fas fa-angle-double-left"></i></span>
                            </a>
                        </li>
                    {% endif %}

                    {% for page in page_range %}
                        {% if page == page_obj.number %}
                            <li class="page-item active" aria-current="page">
                                <span class="page-link">{{ page }}</span>
                            </li>
                        {% elif page == page_obj.paginator.ELLIPSIS %}
                            <li class="page-item disabled">
                                <a class="page-link" href="#">{{ page }}</a>
                            </li>
                        {% else %}
                            <li class="page-item">
                                <a class="page-link" href="{% paging_url page %}">{{ page }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                    {% if page_obj.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="{% paging_url page_obj.next_page_number %}" aria-label="Next">
                                <span aria-hidden="true"><i class="fas fa-angle-double-right"></i></span>
                            </a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <a class="page-link" href="#" aria-label="Next">
                                <span aria-hidden="true"><i class="fas fa-angle-double-right"></i></span>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    {% endif %}
</div>
