<div class="row row-cols">
    <div class="col-sm-3 text-center text-sm-start">
        <p>(c) 2021-22 by Erik Kalkoken</p>
    </div>

    <div class="col-sm-6 text-center">
        <p>
            This site is open source. You can find the code
            <a href="https://gitlab.com/ErikKalkoken/allianceauth-app-directory" target="_blank">here</a>
        </p>
    </div>

    <div class="col-sm-3 text-center text-sm-end">
        <p>{{ settings.SITE_NAME }} v{{ settings.APPDIR_VERSION }}</p>
    </div>
</div>
