{% load static %}
{% load catalog %}
{% load eve_auth %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="{% url 'index' %}">
            <img src="{% static 'catalog/img/logo.png' %}" alt="" width="30" height="30" class="d-inline-block align-text-top">
            {{ settings.SITE_NAME }}
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTop" aria-controls="navbarTop" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTop">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link {% nav_active_url 'index' %}" href="{% url 'index' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% nav_active '/apps' %}" href="{% url 'app-list' %}">Apps</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% nav_active_url 'dependencies' %}" href="{% url 'dependencies' %}">Dependencies</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% nav_active_url 'faq' %}" href="{% url 'faq' %}">FAQ</a>
                </li>
                {% if user.is_authenticated and user.is_staff %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'admin:index' %}" target="_blank">
                            Admin <i style="font-size:75%" class="fas fa-external-link-alt"></i>
                        </a>
                    </li>
                {% endif %}
            </ul>

            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                {% if not user.is_authenticated %}
                    <li class="nav-item">
                        <a class="btn btn-outline-success" href="{% url 'eve_auth:login' %}?next={{ request.path }}">Login</a>
                    </li>
                {% else %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            {% user_icon user %}
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item disabled" href="#">
                                {% if user.eve_character %}
                                    Signed in as<br><strong>{{ user.eve_character.character_name }}</strong>
                                {% else %}
                                    {{ user }}
                                {% endif %}
                                </a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="{% url 'eve_auth:logout' %}?next={{ request.path }}">Logout</a></li>
                        </ul>
                    </li>
                {% endif %}

            </ul>
        </div>
    </div>
</nav>
