{% load humanize %}
{% load catalog %}
{% load eve_auth %}

{% user_icon review.author %}
&nbsp;
{{ review.author.eve_character }}, {{ review.created_on|naturaltime }}
<p>
    {% rating_stars review.rating %}
    &nbsp;
    <strong>{{ review.summary }}</strong>
</p>
<p>{{ review.details }}</p>
