<form class="d-flex mx-auto" action="{% url 'app-list' %}">
    <div class="input-group">
        <span class="input-group-text"><i class="fas fa-search"></i></span>
        <input type="search" name="search" class="form-control" placeholder="Search apps..." aria-label="Search">
    </div>
</form>
