{% load catalog %}

<div class="sidemenu-section">
    <h5>Filter</h5>
    <ul class="nav flex-column nav-pills">

        <li class="nav-item">
            <a  class="nav-link {% nav_active_url 'app-list' SpecialCategory.ALL_APPS %}"
                aria-current="page"
                href="{% url 'app-list' SpecialCategory.ALL_APPS %}">
                {{ SpecialCategory.ALL_APPS.label }}
                    <span class="badge rounded-pill bg-secondary">{{ all_apps_count }}</span>

            </a>
        </li>

        <li class="nav-item">
            <a  class="nav-link {% nav_active_url 'app-list' SpecialCategory.NEW_APPS %}"
                aria-current="page"
                href="{% url 'app-list' SpecialCategory.NEW_APPS %}">
                {{ SpecialCategory.NEW_APPS.label }}
                {% if new_apps_count > 0 %}
                    <span class="badge rounded-pill bg-info">{{ new_apps_count }}</span>
                {% endif %}
            </a>
        </li>

        {% comment %} <li class="nav-item">
            <a  class="nav-link {% nav_active_url 'app-list' SpecialCategory.TOP_RATED %}"
                aria-current="page"
                href="{% url 'app-list' SpecialCategory.TOP_RATED %}">
                {{ SpecialCategory.TOP_RATED.label }}
            </a>
        </li> {% endcomment %}

        {% if user.is_authenticated and user.eve_character %}
            <li class="nav-item">
                <a  class="nav-link {% nav_active_url 'app-list' SpecialCategory.MY_APPS %}"
                    aria-current="page"
                    href="{% url 'app-list' SpecialCategory.MY_APPS %}">
                    {{ SpecialCategory.MY_APPS.label }}
                    {% if my_apps_count > 0 %}
                        <span class="badge rounded-pill bg-info">{{ my_apps_count }}</span>
                    {% endif %}
                </a>
            </li>
        {% endif %}

        {% if user.is_authenticated and perms.catalog.can_confirm_ownership %}
            <li class="nav-item">
                <a  class="nav-link {% nav_active_url 'app-list' SpecialCategory.UNVERIFIED %}"
                    aria-current="page"
                    href="{% url 'app-list' SpecialCategory.UNVERIFIED %}">
                    {{ SpecialCategory.UNVERIFIED.label }}
                    {% if unverified_apps_count > 0 %}
                        <span class="badge rounded-pill bg-warning">{{ unverified_apps_count }}</span>
                    {% endif %}
                </a>
            </li>
        {% endif %}

        <li class="nav-item">
            <a  class="nav-link {% nav_active_url 'app-list' SpecialCategory.AA4 %}"
                aria-current="page"
                href="{% url 'app-list' SpecialCategory.AA4 %}">
                AA 4 compatible
                {% if aa4_apps_count > 0 %}
                    <span class="badge rounded-pill bg-info">{{ aa4_apps_count }}</span>
                {% endif %}
            </a>
        </li>

    </ul>
</div>

<div class="sidemenu-section">
    <h5>Categories</h5>
    <ul class="nav flex-column nav-pills">
        {% for category in categories|dictsort:"name" %}
            <li class="nav-item">
                <a  class="nav-link {% nav_active_url 'app-list' category.name %}"
                    aria-current="page" href="{% url 'app-list' category.name %}">
                    {{ category.verbose_name }}
                    <span class="badge rounded-pill bg-secondary">{{ category.app_count }}</span>
                </a>
            </li>
        {% endfor %}
    </ul>
</div>

<div class="sidemenu-section">
    <h5>Authors</h5>
    <ul class="nav flex-column nav-pills">
        {% for author in authors %}
            <li class="nav-item">
                <a  class="nav-link {% nav_active '?author=' author.name|urlencode %}"
                    aria-current="page"
                    href="{% url 'app-list' %}?author={{ author.name|urlencode }}">
                    {{ author.name }}
                    <span class="badge rounded-pill bg-secondary">{{ author.app_count }}</span>
                </a>
            </li>
        {% endfor %}
    </ul>
</div>

<div class="sidemenu-section">
    <h5>Maintainers</h5>
    <ul class="nav flex-column nav-pills">
        {% for maintainer in maintainers %}
            <li class="nav-item">
                <a  class="nav-link {% nav_active '?maintainer=' maintainer.username|urlencode %}"
                    aria-current="page"
                    href="{% url 'app-list' %}?maintainer={{ maintainer.username|urlencode }}">
                    {{ maintainer.character_name }}
                    <span class="badge rounded-pill bg-secondary">{{ maintainer.app_count }}</span>
               </a>
            </li>
        {% endfor %}
    </ul>
</div>
