{% extends "admin/change_list.html" %}
{% load i18n %}

{% block object-tools-items %}
    {{ block.super }}
    <li>
        <a href="{% url 'export-data' %}" class="btn btn-high">
            {% translate "Download as CSV" %}
        </a>
    </li>
{% endblock %}
