{% if widget.is_initial %}
    <p>
        <img class="rounded app-icon" src="{{ widget.value.url }}">
        {% if not widget.required %}
            <input type="checkbox" name="{{ widget.checkbox_name }}" id="{{ widget.checkbox_id }}"{% if widget.attrs.disabled %} disabled{% endif %}>
            <label for="{{ widget.checkbox_id }}">{{ widget.clear_checkbox_label }}</label>
        {% endif %}<br>
    </p>
    {% comment %} <span class="text-muted">{{ widget.input_text }}:</span> {% endcomment %}
{% endif %}
<input type="{{ widget.type }}" name="{{ widget.name }}"{% include "django/forms/widgets/attrs.html" %}>
