{% extends "catalog/base.html" %}

{% block content %}
    <h2>{{ page_title }}</h2>
    <form method="post">{% csrf_token %}
        <p>Are you sure you want to delete "{{ object }}"?</p>
        <button type="submit" class="btn btn-danger">Confirm</button>
        <a id="btnCancel" class="btn btn-primary" href="{% url 'app-detail' object.pypi_name %}" role="button">Cancel</a>
    </form>
{% endblock %}
