{% extends "catalog/base.html" %}
{% load bootstrap5 %}

{% block content %}
    <h2>{{ page_title }}</h2>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form form %}
        <button type="submit" class="btn btn-primary">Save</button>
        <a
            class="btn btn-secondary"
            href="{% if object.pk %}{% url 'app-detail' object.pypi_name %}{% else %}{% url 'app-list' %}{% endif %}"
            role="button">
            Cancel
        </a>
    </form>
{% endblock %}
