{% extends "catalog/base.html" %}
{% load static %}

{% block open_graph_tags %}
    <meta property="og:image" content="{{ object.valid_icon_url }}">
    <meta property="og:description" content="{{ object.summary }}">
{% endblock %}

{% block content %}
    <p>
        <i class="fas fa-chevron-left"></i>
        <a id="linkBrowseApps" href="{% url 'app-list' %}">Browse Apps</a>
    </p>

    <div class="row">
        <div class="col-lg-1">
            <p><img class="rounded app-icon" src="{{ object.valid_icon_url }}"></p>
        </div>
        <div class="col-lg-11">
            <h4>{{ object.name }}</h4>
            <p>{{ object.summary }}</p>
        </div>
    </div>

    {% if not object.is_verified %}
        <div class="alert alert-warning" role="alert">
            <i class="fas fa-exclamation-triangle"></i>
            The ownership of this app has not yet been verified and the app is therefore visible to maintainers only!
        </div>
    {% endif %}

    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button
                class="nav-link" id="description-tab" data-bs-toggle="tab" data-bs-target="#tab-description" type="button" role="tab" aria-controls="description" aria-selected="true">
                Description
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button
                class="nav-link" id="reviews-tab" data-bs-toggle="tab" data-bs-target="#tab-reviews" type="button" role="tab" aria-controls="reviews" aria-selected="false">
                {{ object.reviews.count }} Reviews
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button
                class="nav-link" id="requirements-tab" data-bs-toggle="tab" data-bs-target="#tab-requirements" type="button" role="tab" aria-controls="rerequirementsviews" aria-selected="false">
                {% if object.has_requirements %}{{ object.requirements_count }}{% else %}?{% endif %} Python Requirements
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button
                class="nav-link" id="dependencies-tab" data-bs-toggle="tab" data-bs-target="#tab-dependencies" type="button" role="tab" aria-controls="dependenciesviews" aria-selected="false">
                {% if object.has_requirements %}{{ depencies_count }}{% else %}?{% endif %} App Dependencies
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button
                class="nav-link" id="classifier-tab" data-bs-toggle="tab" data-bs-target="#tab-classifiers" type="button" role="tab" aria-controls="dependenciesviews" aria-selected="false">
                {{ object.classifiers.count }} Classifiers
            </button>
        </li>
    </ul>

    <br>
    <div class="row">
        <div class="col-md-8">
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane" id="tab-description" role="tabpanel" aria-labelledby="description-tab">
                    {{ object.description_html }}
                </div>
                <div class="tab-pane" id="tab-reviews" role="tabpanel" aria-labelledby="reviews-tab">
                    {% include "catalog/partials/app_detail_reviews.html" %}
                </div>
                <div class="tab-pane" id="tab-requirements" role="tabpanel" aria-labelledby="requirements-tab">
                    {% include "catalog/partials/app_detail_requirements.html" %}
                </div>
                <div class="tab-pane" id="tab-dependencies" role="tabpanel" aria-labelledby="dependencies-tab">
                    {% include "catalog/partials/app_detail_dependencies.html" %}
                </div>
                <div class="tab-pane" id="tab-classifiers" role="tabpanel" aria-labelledby="classifier-tab">
                    {% include "catalog/partials/app_detail_classifiers.html" %}
                </div>
            </div>

        </div>

        <div class="col-md-4">
            {% include "catalog/partials/app_detail_sidebar.html" %}
        </div>
    </div>

    <script>
        /** On click open the last app-list page the user visted. */
        document.addEventListener("DOMContentLoaded", function() {
            document.getElementById("linkBrowseApps").onclick = function() {
                if (sessionStorage.appListLastPage) {
                    window.open(sessionStorage.appListLastPage, "_self");
                    return false;
                }
            };
        });
    </script>

{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" media="screen and (prefers-color-scheme: light)" href="{% static 'vendor/highlight-js/11.5.1/styles/stackoverflow-light.min.css' %}">
    <link rel="stylesheet" media="screen and (prefers-color-scheme: dark)" href="{% static 'vendor/highlight-js/11.5.1/styles/stackoverflow-dark.min.css' %}">
{% endblock %}

{% block scripts %}
    <script>
        /** Select custom tab if requested or else the default tab */
        let someTabTriggerEl = document.querySelector("#{{ tab }}-tab");
        if (someTabTriggerEl == null) {
            someTabTriggerEl = document.querySelector("#description-tab");
        }
        const tab = new bootstrap.Tab(someTabTriggerEl);
        tab.show();
    </script>

    <script src="{% static 'vendor/highlight-js/11.5.1/highlight.min.js' %}"></script>
    <script>hljs.highlightAll();</script>
{% endblock %}
