{% extends "catalog/base.html" %}
{% load static %}

{% block extra_css %}
    <link href="{% static 'catalog/css/app_list.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-3 col-lg-2">
            {% include 'catalog/partials/sidebar.html' %}
        </div>

        <div class="col-md-9 col-lg-10">
            {% include 'catalog/partials/searchbar.html' %}
            <br>
            <div class="row">
                <div class="col-6">
                    <h2>{{ page_title|default:"?" }}</h2>
                    <p>{{ page_subtitle|default:"" }}</p>
                </div>
                <div class="col-6">
                    {% if user.is_authenticated and user.eve_character %}
                        <p class="text-end">
                            <a id="btnCreateApp" class="btn btn-outline-success" href="{% url 'app-create' %}">
                                Add new app
                            </a>
                        </p>
                    {% endif %}
                </div>
            </div>

            {% include "catalog/partials/app_list_items.html" %}
        </div>
    </div>
    <script>
        /** Store current full path for potentail use on app details page. */
        document.addEventListener("DOMContentLoaded", function() {
            sessionStorage.appListLastPage = '{{ request.get_full_path }}';
        });
    </script>
{% endblock %}
