{% load static %}
{% load bootstrap5 %}

<!doctype html>
<html lang="en" class="h-100">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Meta tags -->
        <link rel="icon" type="image/png" href="{{ settings.SITE_URL }}{% static 'catalog/img/logo.png' %}">
        <link rel="canonical" href="{{ settings.SITE_URL }}">
        <meta name="description" content="{{ settings.SITE_DESCRIPTION }}">
        <meta name="author" content="{{ settings.SITE_AUTHOR }}">
        <meta name="keywords" content="Eve Online, Alliance Auth, Apps, Community">
        <!-- Open graph -->
        <meta property="og:type" content="website">
        <meta property="og:site_name" content="{{ settings.SITE_NAME }}">
        <meta property="og:title" content="{{ page_title|title }}">
        <meta property="og:url" content="{{ settings.SITE_URL }}{{ request.get_full_path }}">
        {% block open_graph_tags %}
        <meta property="og:image" content="{{ settings.SITE_URL }}{% static 'catalog/img/logo.png' %}">
        <meta property="og:description" content="{{ settings.SITE_DESCRIPTION }}">
        {% endblock %}

        <!-- The page supports both dark and light color schemes,
            and the page author prefers / default is light. -->
        <meta name="color-scheme" content="light dark">

        <!-- Replace the Bootstrap CSS with the Bootstrap-Dark Variant CSS -->
        <link href="{% static 'vendor/bootstrap-dark-5-1.0.1/dist/css/bootstrap-dark.min.css' %}" rel="stylesheet">

        <!-- Font Awesome -->
        <link href="{% static 'vendor/fontawesome-free-5.15.3-web/css/all.min.css' %}" rel="stylesheet">
        {% block extra_css %}
        {% endblock %}

        <title>{{ page_title|title }} • {{ settings.SITE_NAME }}</title>

        <link href="{% static 'catalog/css/base.css' %}" rel="stylesheet">
    </head>

    <body class="d-flex flex-column h-100">
        <header>
            {% include 'catalog/partials/menu.html' %}
        </header>

        <!-- Begin page content -->
        <main class="flex-shrink-0 mb-3">
            <div class="container">
                {% include 'catalog/partials/messages.html' %}
                {% block content %}
                {% endblock %}
            </div>
        </main>

        <footer class="footer mt-auto py-3 bg-secondary">
            <div class="container">
                {% include 'catalog/partials/footer.html' %}
            </div>
        </footer>

        <script src="{% static 'vendor/bootstrap-5.0.1-dist/js/bootstrap.min.js' %}"></script>
        {% block scripts %}
        {% endblock %}
    </body>
</html>
