{% extends "catalog/base.html" %}

{% block content %}
    <h2>{{ page_title }}</h2>

    <div id="mynetwork" style="width: 100%; height: 75vh; border: 1px solid rgb(128 128 128);"></div>

    <p>
        Categories:
        {% for category in categories %}
            <span class="alert-{{ category.context_style }}">{{ category.name }}</span>
        {% endfor %}
    </p>
    <p class="text-muted">Click & drag node to manipulate position. Double-click to open app's detail page. Apps without dependencies are not shown.</p>

    {% for style in style_names %}
        <div id="div-alert-{{ style }}" class="alert alert-{{ style }} d-none"></div>
    {% endfor %}

{% endblock %}

{% block scripts %}
    <script src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js"></script>

    {{ nodes|json_script:"nodes-data" }}
    {{ edges|json_script:"edges-data" }}
    {{ options|json_script:"options-data" }}
    {{ urls|json_script:"urls-data" }}
    {{ highlight_style|json_script:"highlightStyle-data" }}

    <script>
        // identify current Bootstrap context styles
        const contextStyle = {
            primary: window.getComputedStyle(document.getElementById("div-alert-primary")),
            secondary: window.getComputedStyle(document.getElementById("div-alert-secondary")),
            success: window.getComputedStyle(document.getElementById("div-alert-success")),
            danger: window.getComputedStyle(document.getElementById("div-alert-danger")),
            warning: window.getComputedStyle(document.getElementById("div-alert-warning")),
            info: window.getComputedStyle(document.getElementById("div-alert-info")),
            light: window.getComputedStyle(document.getElementById("div-alert-light")),
            dark: window.getComputedStyle(document.getElementById("div-alert-dark")),
            asGroupStyle : function(style) {
                return {
                    color: {
                        background: this[style].backgroundColor,
                        border: this[style].borderColor,
                    },
                    font: {
                        color: this[style].color,
                    }
                };
            }
        };
        // define groups with bootstrap context style
        const groups = {
            "primary": contextStyle.asGroupStyle("primary"),
            "secondary": contextStyle.asGroupStyle("secondary"),
            "success": contextStyle.asGroupStyle("success"),
            "danger": contextStyle.asGroupStyle("danger"),
            "warning": contextStyle.asGroupStyle("warning"),
            "info": contextStyle.asGroupStyle("info"),
            "light": contextStyle.asGroupStyle("light"),
            "dark": contextStyle.asGroupStyle("dark"),
        };
        // create a network
        const container = document.getElementById("mynetwork");
        const nodes = JSON.parse(document.getElementById('nodes-data').textContent);
        const edges = JSON.parse(document.getElementById('edges-data').textContent);
        const data = {
            nodes: nodes,
            edges: edges,
        };
        const highlightStyle = JSON.parse(document.getElementById('highlightStyle-data').textContent);
        const options = {
            edges: {"arrows": "to"},
            nodes: {
                color: {
                    highlight: {
                        background: contextStyle[highlightStyle].backgroundColor,
                        border: contextStyle[highlightStyle].borderColor,
                    },
                }
            },
            groups: groups
        };
        const network = new vis.Network(container, data, options);

        // double-click on a node navigates to the app's detail page
        const urls = JSON.parse(document.getElementById('urls-data').textContent);
        network.on("doubleClick", function (params) {
            const node_id = params["nodes"][0];
            if (typeof node_id !== 'undefined') {
                window.open(urls[node_id], "_self");
            }
        });
    </script>
{% endblock %}
