{% extends "catalog/base.html" %}

{% block content %}
    <h2>{{ page_title }}</h2>

    <h3>What is this site for?</h3>
    <p>This site aims to be the main directory for all current Alliance Auth apps. We want to make it easy for Alliance Auth users to quickly find the app they are looking for or find new and interesting apps. We also want to give app developers a mechanism to get feedback on their apps from users.</p>

    <h3>What apps can I add to the directory?</h3>
    <p>You can add any app that fullfill all of the following criteria:</p>
    <ul>
        <li>Is an app for Alliance Auth</li>
        <li>Has an entry on PyPI</li>
        <li>You are the author or maintainer of the app.</li>
    </ul>
    <p>Please note that we reserve the rigth to remove apps that do not fit all these criteria.</p>

    <h3>Who can rate an app?</h3>
    <p>Anyone who has an Eve character and register on the site will be able to rate apps. Note that maintainers can reply to reviews.</p>

    <h3>How do you ensure apps are added by their legitimate owners only?</h3>
    <p>Every newly added app goes through a verification process, where site admins verify that the app has been added by an legitmate owner. Until ownership is verified an app remains invisible to other users of the site.</p>

    <h3>Why does not all apps show their requirements?</h3>
    <p>The requirements are fetched from PyPI. But python packages on PyPI will only have requirements if they have been deployed with a wheel. Here is an example hot to create a wheel and then upload it to PyPI:
    <p>
        <code>
            python setup.py sdist bdist_wheel<br>
            twine upload dist/*
        </code>
    </p>


    <h3>Is there a code of conduct?</h3>
    <p>While there is no formal code of conduct, we reserve the right to remove comments and/or ban users that demonstrate inapproporate behavior. As a guideline to determine what inapproporate behavior is, we will be using the <a href="https://www.python.org/psf/conduct/">PSF Python Community Code of Conduct</a>.</p>
{% endblock %}
