{% extends "catalog/base.html" %}
{% load static %}

{% block content %}
<div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="{% static 'catalog/img/logo.png' %}" alt="" width="72" height="72">
    <h1 class="display-5 fw-bold">{{ settings.SITE_NAME }}</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">
            Quickly find the apps you are looking for, discover new and interesting apps
            for your Alliance Auth installation or give developers feedback on their work by writing a review.
        </p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <a  type="button"
                class="btn btn-primary btn-lg px-4 gap-3"
                href="{% url 'app-list'%}">
                Browse {{ all_apps_count }} Apps
            </a>
            {% if user.is_authenticated and user.eve_character %}
                <a  type="button"
                    class="btn btn-outline-success btn-lg px-4"
                    href="{% url 'app-create'%}">
                    Add new app
                </a>
            {% else %}
                <a  type="button"
                    class="btn btn-outline-success btn-lg px-4"
                    href="{% url 'eve_auth:login' %}?next={{ request.path }}">
                    Login
                </a>
            {% endif %}
        </div>
        <br>
        {% if not user.is_authenticated or not user.eve_character %}
            <p class="text-muted">
                To write a review or add an app you need to be logged in.
            </p>
        {% endif %}
    </div>

</div>

{% endblock %}
