{% extends "catalog/base.html" %}
{% load bootstrap5 %}

{% block content %}
    <h2>Add review for {{ app }}</h2>

    <form method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        <button type="submit" class="btn btn-primary">Save</button>
        <a id="btnCancel" class="btn btn-outline-secondary" href="{{ app.get_absolute_url }}" role="button">Cancel</a>
    </form>
{% endblock %}
