{% extends "catalog/base.html" %}

{% block content %}
    <h2>{{ page_title }}</h2>
    <form method="post">{% csrf_token %}
        <p>Are you sure you want to delete this review for "{{ object.app.name }}"?</p>
        <p><strong>{{ object.summary }}</strong></p>
        <p>{{ object.details }}</p>
        <button type="submit" class="btn btn-danger">Confirm</button>
        <a id="btnCancel" class="btn btn-outline-secondary" href="{{ object.get_absolute_url }}" role="button">Cancel</a>
    </form>
{% endblock %}
