{% extends "catalog/base.html" %}
{% load bootstrap5 %}

{% block content %}
    <h2>{{ page_title }}</h2>

    {% include "catalog/partials/review.html" %}

    <form method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        <button type="submit" class="btn btn-primary">Submit</button>
        <a id="btnCancel" class="btn btn-outline-secondary" href="{{ review.get_absolute_url }}" role="button">Cancel</a>
    </form>
{% endblock %}
