{% extends "catalog/base.html" %}

{% block content %}
    <h2>{{ page_tile }}</h2>

    {% with review=object.review %}
        {% include "catalog/partials/review.html" %}
        <div style="margin-left:3%">
            {% include "catalog/partials/review_reply.html" %}
        </div>
        <form method="post">{% csrf_token %}
            <p>Are you sure you want to delete this reply?</p>
            <button type="submit" class="btn btn-danger">Confirm</button>
            <a id="btnCancel" class="btn btn-outline-secondary" href="{{ review.get_absolute_url }}" role="button">Cancel</a>
        </form>
    {% endwith %}
{% endblock %}
